.box {
  width: 100px;
  height: 100px;
  background-color: #f83d3d;
}

.title_1 {
  font-size: 1px;
}

.title_2 {
  font-size: 2px;
}

.title_3 {
  font-size: 3px;
}

.title_4 {
  font-size: 4px;
}

.title_5 {
  font-size: 5px;
}

.title_6 {
  font-size: 6px;
}

.title_7 {
  font-size: 7px;
}

.title_8 {
  font-size: 8px;
}

.title_9 {
  font-size: 9px;
}

.title_10 {
  font-size: 10px;
}

.col-1 {
  max-width: 8.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
}

.col-2 {
  max-width: 16.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
}

.col-3 {
  max-width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.col-4 {
  max-width: 33.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
}

.col-5 {
  max-width: 41.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
}

.col-6 {
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.col-7 {
  max-width: 58.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
}

.col-8 {
  max-width: 66.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
}

.col-9 {
  max-width: 75%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

.col-10 {
  max-width: 83.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
}

.col-11 {
  max-width: 91.66667%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
}

.col-12 {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.img_banner {
  background-image: url("images/banner.png");
  background-size: cover;
  width: 800px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_item {
  background-image: url("images/item.png");
  background-size: cover;
  width: 800px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_a1 {
  background-image: url("images/a1.jpg");
  background-size: cover;
  width: 800px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_a2 {
  background-image: url("images/a2.jpg");
  background-size: cover;
  width: 800px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_a3 {
  background-image: url("images/a3.jpg");
  background-size: cover;
  width: 800px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_g1 {
  background-image: url("images/g1.gif");
  background-size: cover;
  width: 800px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_g2 {
  background-image: url("images/g2.gif");
  background-size: cover;
  width: 800px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_g3 {
  background-image: url("images/g3.gif");
  background-size: cover;
  width: 800px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=foreach.css.map */