// 變數
$fontsize_basic : 40px;
$bgc : rgb(110, 200, 7);
$fontcolor : #333;
$margin : 20px auto; // list
$title :("h1" : 46px,
  "h2" : 30px); //map  

$null : null;


$fontfamily : "Arial, Helvetica, sans-serif"; // 字串

.text {
  font-size: 30px;
  letter-spacing: 10px;
}