@import 'layout/nav';
@import 'page/index';
@import 'layout/footer';

body {
    background-color: rgb(118, 212, 255);
    font-size: 20px;
    height: 1500px;
    .active a {
        color : rgb(247, 0, 255);
        font-weight: bold;

    } 

    .wrapper {
        width: 1200px;
        margin: auto;
    }


}