@import 'layout/nav';
@import 'page/index';
@import 'layout/footer';

body {
    background-color: rgb(118, 212, 255);
    font-size: 20px;
    height: 1500px;
    .active a {
        color : rgb(247, 0, 255);
        font-weight: bold;

    } 

    .wrapper {
        width: 1200px;
        margin: auto;
    }


}

// 未加
.example {
    transition: 1s all ease;
    user-select: none;
    transform: rotate(20deg);
}
/*打包*/


.img{
   background-image: linear-gradient(#333 , #fff);


}