@import 'layout/nav';
@import 'layout/footer';

body {
    font-size: 20px;
    .active {
        color : rgb(247, 0, 255)

    } 

    .wrapper {
        width: 1200px;
        margin: auto;
    }


}