.box {
   width:  100px;
   height: 100px;
   background-color: rgb(248, 61, 61);
}

@for $i from 1 through 10 {
    .title_#{$i} {
        font-size: $i *1px;
    }
}

// @mixin push($num){

// }

@mixin push($num) {
    @for $i from 1 through $num {
        .push_left_#{$i} {
            position: relative;
            left: $i * 1px;
        }
    }
}

@mixin push_top($num) {
    @for $i from 1 through $num {
        .push_top_#{$i} {
            position: relative;
            top: $i * 1px;
        }
    }
}

// @include push(100);
// @include push_top(100);


// grid 

@mixin grid($num){
 @for $i from 1 through $num {
    .col-#{$i}{
       max-width : ($i / $num) * 100%;
       flex : 0 0 ($i / $num)*100%
    }
 }
}

@include grid(12);

// each 


@mixin img($list , $style){
    @each $img in $list {   
        .img_#{$img}{
            background-image: url('images/#{$img}.#{$style}');
            background-size: cover;
            width: 800px;
            height: 600px;
            object-fit: cover;
        } 
    } 
}

@include img(banner item , png);
@include img(a1 a2 a3 , jpg);
@include img(g1 g2 g3 , gif);


@mixin space($val){
    margin-top: $val;
}

.spec {
 @include space(10px)

}


$title : (
  'h1' : 60px,
  'h2' : 36px,
  'h3' : 24px,
  'span' : 14px,
  'a' : 12px
);

@each $title , $val in $title {
   #{$title} {
      font-size: $val;
      color: #333
   }
} 


$color : (
   '.black' : #333,
   '.default' : #000,
);

@each $class , $val in $color {
   #{$class} {
     color : $val
   }
}











