// 宣告
@mixin marginAuto($w ,$top:0){
   margin: $top auto 0;
   width: $w;
}

// 沒有()
@mixin yellow {
    background-color: yellow;
    color: #fff 
}

//調用
.box {
   @include marginAuto(300px , 10px);
   @include yellow
}

.box2 {
  @include marginAuto(400px);
  
}


.box3 {
  @include marginAuto(500px)
}


@mixin body($bgc:#e2e2e2){
    body {
        background-color: $bgc;
        font-size: 16px;
        line-height: 24px;
        @content;
    }
}

// 首頁

@include body(){
  h1 {
    font-size: 36px;
  }
  h2 {
     font-size: 20px;
  }
};

// 內頁
@include body(#333);



@mixin btn_default($w ,$btn_bg ,$border_radius:null){
  width: 100%;
  padding: $w;
  text-align: center;
  background-color: $btn_bg;
  color: invert($btn_bg); // 反轉
  cursor: pointer;
  transition: .3s all ease;
  border-radius: $border_radius;
  box-sizing: border-box;
  // @if $border !=null  {
  //    border: 1px solid $btn_bg;
  // } 
  @content;
  &:hover {
    background-color: lighten($btn_bg, 20); // 顏色內建                  
  } 
} 
@mixin btn_outline($w , $color ,$border_radius:null){
  width: 100%;
  padding: $w;
  text-align: center;
  border: 1px solid $color;
  transition: .3s all ease;
  cursor: pointer;
  border-radius: $border_radius;
  box-sizing: border-box;
  @content;
  &:hover {
     border: null;
     background-color: $color;
     color: invert($color)
  }
}

.btn_sumbit {
   @include btn_default(20px,rgb(0, 181, 253) ){
      margin-top: 10px; 
   }
}

.btn_cancel {
   @include btn_default( 15px, rgb(58, 255, 189))
}

.btn_outline {
   @include btn_outline(10px , #cc00ff , 5px){
      margin-top: 10px;
   } 
}

@mixin  layout($class , $theme:full) {
  .#{$class} {
    @if $theme==full {
      width: 100%;
      height: 100vh;
      @content;
    }
  
    @else {
      width: $theme;
      margin: 0 auto;
      height: 100vh;
      @content;
    }
  }
}


@include layout(banner) {
    background-color: #fff;  

};
@include layout(prod , 1366px){
   background-color: rgb(144, 144, 144);
};
@include layout(contactus){
    background-color: aquamarine
};






