// 宣告
@mixin marginAuto($w ,$top:0){
   margin: $top auto 0;
   width: $w;
}

// 沒有()
@mixin yellow {
    background-color: yellow;
    color: #fff 
}

//調用
.box {
   @include marginAuto(300px , 10px);
   @include yellow
}

.box2 {
  @include marginAuto(400px);
  
}


.box3 {
  @include marginAuto(500px)
}


@mixin body($bgc:#e2e2e2){
    body {
        background-color: $bgc;
        font-size: 16px;
        line-height: 24px;
        @content;
    }
}

// 首頁

@include body(){
  h1 {
    font-size: 36px;
  }
  h2 {
     font-size: 20px;
  }
};

// 內頁
@include body(#333);
