// 宣告
@mixin marginAuto($w ,$top:0){
   margin: $top auto 0;
   width: $w;
}

// 沒有()
@mixin yellow {
    background-color: yellow;
    color: #fff 
}

//調用
.box {
   @include marginAuto(300px , 10px);
   @include yellow
}

.box2 {
  @include marginAuto(400px);
  
}


.box3 {
  @include marginAuto(500px)
}


@mixin body($bgc:#e2e2e2){
    body {
        background-color: $bgc;
        font-size: 16px;
        line-height: 24px;
        @content;
    }
}

// 首頁

@include body(){
  h1 {
    font-size: 36px;
  }
  h2 {
     font-size: 20px;
  }
};

// 內頁
@include body(#333);



@mixin btn_default($w ,$btn_bg ,$border_radius:null){
  width: 100%;
  padding: $w;
  text-align: center;
  background-color: $btn_bg;
  color: invert($btn_bg); // 反轉
  cursor: pointer;
  transition: .3s all ease;
  border-radius: $border_radius;
  box-sizing: border-box;
  &:hover {
    background-color: lighten($btn_bg, 20); // 顏色內建                  
  } 
} 

.btn_sumbit {
   @include btn_default(20px,rgb(0, 181, 253),10px)
}

.btn_cancel {
   @include btn_default( 15px, rgb(185, 185, 185) , 5px)
}




