/* 字體規範 */
.basic_font_size {
   font-size: 18px;
}

.h1_title {
   font-size: 40px;
}

.h2_title {
  font-size: 32px;
}

.strong_font {
  font-size: 30px;
  font-weight: 900;
}

/* 顏色規範 */
.primary {
   background-color: #00BC62;
}

.second {

  background-color: #ECD504;

}
.black {
    background-color: #2b2b2b;
}

.gray {
   background-color: #cdcdcd;
}

/* 字體顏色 */


.primary_font{
   color: #66f9b2;
}

.second_font{

  color: #ECD504;

}
.black_font{
    color: #2b2b2b;
}

.gray_font{
   color: #cdcdcd;

}

body {
font-size: large;
background: rgb(189, 36, 36);
}

























