
@import 'sass/var';
@import 'sass/header';
@import 'sass/footer';



/* css 註解 */


.wrapper {
  width: 1366px;
  margin: $margin;
  background-color: aquamarine;
  height: $null;
}

h1 {
  font-size: map-get($title, h1);
}



// 區域變數

$a : 10px;

span {
  $a: 20px;
  font-size: $a;
  $b: 30px !global; // 提升全域
}


.box {
  font-size: $b; // 取到全域變數
}


$c : 30px;
$c : 40px !default;

.box1 {
  font-size: $c;
}


// 字串轉型

$class : ".space";
$path : "assets";
$attr: "padding";

#{$class} {

  width: 100%;
  background-image: url('#{$path}/images.jpg');
  #{$attr}: 10px;

}

.var {
  width: 10px + 1px;
  height: 100px - 20*2;
  margin: 10px * 9;
  font: (100 / 20); // 除法要特別注意
}

// 判斷式  @if /@else/ @else if
$theme : 1366px;

.wrapper {
  @if $theme==full {
    width: 100%;

  }

  @else {
    width: $theme;
    margin: 0 auto;
  }
}


$width : 767;

.wrapper {
  @if $width>=1200 {

    font-size: 16px;

  }

  @else if $width < 1200 and $width>=768 {
    font-size: 18px;
  }

  @else {
    font-size: 20px;

  }
}


$btn_bg : rgb(173, 0, 38);
$btn_font : #fff;



// css
.container section .wrapper h1 {
  font-size: 30px;
}

section .wrapper h2 {
  font-size: 28px;
}

section .wrapper h2 span {
  font-size: 15px;
}

// scss
.container {
  .main {
    .wrapper {
      h1 {
        font-size: 40px;
      }

      h2 {
        font-size: 26px;

        span {

          font-size: 12px;
        }
      }

  
    }

  }
}


.btn {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: $btn_bg;
  color: invert($btn_bg); // 反轉
  cursor: pointer;
  transition: .3s all ease;
  &:hover {
    background-color: lighten($btn_bg, 20); // 顏色內建                  
  }
  &::after {
     content: '';
  }
  &--error {
     background-color: rgb(255, 8, 8);
  }
  &--warning {
     background-color: #fbff00;
     &:hover {
        background-color: darken(#fbff00 , 20);
     }

  }
}

// 偽元素
a {
  &:hover {
    color:rgb(173, 0, 38); 
  }
  &:active {
    color:rgb(110, 200, 7)
  }
}
